/* GENERAL STYLES */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

#main {
    float: left;
    width: 100%;
}


/*TITLE AND SUBTITLE*/
.main-title {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main-subtitle {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}


