/* GENERAL STYLES */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  /*BACKGROUND VIDEO*/
  .backgroundVideo {
    display: none;
    max-width: 100vw;
    position: absolute;
    z-index: 0;
    display: block;
    -webkit-filter: blur(18px);
    -moz-filter: blur(18px);
    -o-filter: blur(18px);
    -ms-filter: blur(18px);
    filter: blur(18px);
  }
  
  @media (min-width: 1200px) {
    .backgroundVideo {
      width: 100%;
    }
  }
  
  #main {
    float: left;
    width: 100%;
  }
  
  
  /*TITLE AND SUBTITLE*/
  .main-title {
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  
  .main-subtitle {
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  